* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #2c3e50; /* Darker blue background */
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.btn {
  padding: 8px 24px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0.5px 0.5px 0 #000000, inset -1px -1px 1px #f7b8b8;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:active {
  transform: scale(0.96);
}

.btn-primary {
  background-color: #3498db;
  color: #fff;
  /* box-shadow: 0 4px 6px rgba(52, 152, 219, 0.3); */
}

.btn-secondary {
  background-color: #e74c3c;
  color: #fff;
}

.game-container {
  margin: 20px auto;
  max-width: 700px;
  background: linear-gradient(145deg, #ffffff, #f5f5f5);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  gap: 60px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #1abc9c; /* Turquoise heading */
}

.players-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-box {
  border: none;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 150px;
  text-align: center;
  background: linear-gradient(145deg, #ffffff, #f8f9fa);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1),
    -5px -5px 15px rgba(255, 255, 255, 0.8);
  transition: transform 0.3s ease;
  color: #2c3e50;
}

.player-box img {
  width: 45px;
  transform: scale(1.1);
  transition: transform 0.3s ease;
  filter: invert(20%) sepia(10%) saturate(150%) hue-rotate(165deg);
}

.player-box img:hover {
  transform: scale(1.1);
  filter: invert(40%) sepia(80%) saturate(500%) hue-rotate(165deg);
}

.score {
  font-size: 24px;
  font-weight: bold;
  color: #16a085;
}

#result-message {
  text-align: center;
  font-size: 25px;
  color: #7f8c8d;
  font-weight: bold;
  transition: all 0.3s ease;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.footer-container {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 3px 0;
  font-size: 14px;
  color: #ecf0f1;
  margin: 10px 0;
}

.github-icon {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 0 0 10px;
  cursor: pointer;
  background-color: #ecf0f1;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 500px) {
  body {
    padding: 10px;
  }

  h1 {
    margin-bottom: 40px;
  }

  .game-container {
    padding: 10px;
    gap: 10px;
  }

  .players-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .player-box {
    width: 100%;
    max-width: 300px;
    gap: 10px;
  }

  #result-message {
    margin: 40px;
  }

  .btn-secondary {
    width: 100%;
    max-width: 300px;
    order: 1;
  }

  .button-container {
    justify-content: space-between;
  }

  .footer-container {
    justify-content: center;
  }
}
