* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #6b8f94;
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn {
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  box-shadow: 0.5px 0.5px 0 #000000, inset -1px -1px 1px #f7b8b8;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn:hover {
  box-shadow: 1px 1px 2px 0 #000000, -1px -1px 2px 0 #ffffff;
}

.btn:active {
  transform: scale(0.96);
}

.btn-primary {
  background-color: #3f2f25;
  color: #fff;
}

.btn-secondary {
  background-color: #ec255a;
  color: #fff;
}

.game-container {
  margin: 20px auto;
  max-width: 600px;
  background-color: #d4c9be;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: inset 1px 1px 5px 0 #655858, inset -1px 0 5px 0 #655858,
    0 3px 2px 0 #3d3b3b;
  gap: 70px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #013136;
}

.players-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-box {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 150px;
  text-align: center;
  background: #fff;
  color: #003237;
}

#result-message {
  text-align: center;
  font-size: 20px;
  color: grey;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: space-around;
}
