* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(120deg, #e0f7fa 150%, #b2ebf2 100%);
  padding: 15px;
  font-family: "Inter", sans-serif;
}

.btn {
  padding: 8px 24px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0.5px 0.5px 0 #000000, inset -1px -1px 1px #f7b8b8;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:active {
  transform: scale(0.96);
}

.btn-primary {
  background-color: #3498db;
  color: #fff;
}

.btn-secondary {
  background-color: #f87171;
  color: #fff;
  width: 100%;
}

.game-container {
  margin: 20px auto 0;
  max-width: 600px;
  background: linear-gradient(145deg, #ffffff, #fff);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.05) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  gap: 35px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #003e31;
}

.players-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-name {
  color: #006a51;
}

.player-box {
  border: none;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 42%;
  text-align: center;
  background: #ffffff;
  box-shadow: inset 2px 2px 20px #eaeaea, inset -2px -2px 20px #eaeaea;
  transition: transform 0.3s ease;
}

.player-box img {
  width: 45px;
  transform: scale(1.1);
  transition: transform 0.3s ease;
  filter: invert(20%) sepia(10%) saturate(150%) hue-rotate(165deg);
}

.player-box img:hover {
  transform: scale(1.1);
  filter: invert(40%) sepia(80%) saturate(500%) hue-rotate(165deg);
}

.score {
  font-size: 24px;
  font-weight: bold;
  color: #006a51;
}

#result-message {
  text-align: center;
  font-size: 25px;
  color: #7f8c8d;
  font-weight: bold;
  transition: all 0.3s ease;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.primary-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.secondary-buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #00251e;
  backdrop-filter: blur(12px);
  letter-spacing: 0.5px;
}

.github-icon {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 0 0 10px;
  cursor: pointer;
  background-color: #ecf0f1;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 400px) {
  .btn {
    padding: 8px 16px;
    font-size: 14px;
  }

  .game-container {
    padding: 15px;
  }

  .player-name {
    font-size: 20px;
  }

  .player-box {
    padding: 5px;
    width: 47%;
  }
}
